html {
    background-color: #ADD8E6;
}

h1 {
    font-family: Helvetica;
    font-weight: bold;
    text-align: center;
}

h2  {
    font-family: Helvetica;
    font-size: 12pt;
    text-align: center;
}

.images  {
    position: absolute;
    left: 50%;
}

#octopus {
    position: relative;
    top: 75px;
    left: -50%;
}

#hat {
    position: absolute;
    top: 0px;
    left: -60%;
}

#glasses {
    position: absolute;
    top: 175px;
    left: -30%;
}

