
#octopus {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 70px;
}

#hat {
    position: absolute;
    margin: auto;
    left: 0; 
    right: -30px;
}

#glasses {
    position: absolute;
    margin: auto;
    left: 0; 
    right: -15px;
    top: 170px;
}

