
h1  {
    font: 32px Helvetica;
    text-align: center;
}

#octopus {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 150px;
}

#hat {
    position: absolute;
    margin: auto;
    left: 0; 
    right: -30px;
    z-index: 1;
}

#glasses {
    position: absolute;
    margin: auto;
    left: 0; 
    right: -12px;
    top: 250px;
    z-index: 1;
}

